<p id="notice"><%= notice %></p>

<h1>Listing syllabus</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>Level</th>
      <th>Form of study</th>
      <th>Training period</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @syllabuses.each do |plan| %>
      <tr>
        <td><%= syllabus.code %></td>
        <td><%= syllabus.title %></td>
        <td><%= syllabus.level %></td>
        <td><%= syllabus.form_of_study %></td>
        <td><%= syllabus.training_period %></td>
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_syllabus_path(plan) %></td>
        <td><%= link_to 'Destroy', syllabus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New syllabus', new_syllabus_path %>
