<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Second name:</strong>
  <%= @student.second_name %>
</p>

<p>
  <strong>B date:</strong>
  <%= @student.b_date %>
</p>

<p>
  <strong>Number of books:</strong>
  <%= @student.number_of_books %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
