<p id="notice"><%= notice %></p>

<h1>Listing Afiles</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @afiles.each do |afile| %>
      <tr>
        <td><%= afile.description %></td>
        <td><%= link_to 'Show', afile %></td>
        <td><%= link_to 'Edit', edit_afile_path(afile) %></td>
        <td><%= link_to 'Destroy', afile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Afile', new_afile_path %>
