<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :offset %><br>
    <%= f.number_field :offset %>
  </div>
  <div class="field">
    <%= f.label :min_offset %><br>
    <%= f.number_field :min_offset %>
  </div>
  <div class="field">
    <%= f.label :max_offset %><br>
    <%= f.number_field :max_offset %>
  </div>
  <div class="field">
    <%= f.label :necessarily %><br>
    <%= f.check_box :necessarily %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
