<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @teacher.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @teacher.first_name %>
</p>

<p>
  <strong>Second name:</strong>
  <%= @teacher.second_name %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @teacher.degree %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @teacher.rank %>
</p>

<p>
  <strong>Position:</strong>
  <%= @teacher.position %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
